@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hedvig Letters Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: rgb(173, 201, 211);
}
.container {
  background-color: rgb(143, 179, 208);
  max-width: 450px;
  padding: 20px;
  border-radius: 3px;
  border: 2px solid black;
}
#title {
  font-size: 25px;
  font-weight: 400;
}
.celsius,
.fahrenheit,
.kelvin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
input {
  flex: content;
  height: 35px;
  padding-left: 12px;
  border: 2px solid rgb(37, 79, 111);
  outline-color: black;
  /* rgb(81, 134, 172); */
  font-size: 16px;
  color: black;
  font-weight: 500;
  /* background-origin: padding-box; */
}
.button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
 #button {
  width: 90px;
  padding: 3px;
  border-radius: 3px;
  font-weight: 500;
  outline-color: rgb(81, 134, 172);
  cursor: pointer;
}
#button:hover {
  background-color: rgb(169, 181, 190);
}
